# Auto detect text files and perform LF normalization
* text=auto
this is my repo for all the problems that solve on codechef contests
i  am really sorry guts for not having all the solutions but this repo has only solutions that i have solved 
also ther are some contest missing out on this one so ill try to be punctual from now.